*{
    padding: 0;
    margin:0;
    overflow-x:hidden;
}
.head{
    width: 100%;
}
.head img{
    width: 100%;
}
.menu{
    background-color: #4F94CD;
    height:50px;
    width:100%;
}
#menu-list li{
    list-style-type:none;
    height:48px;
    width:104px;
    FLOAT:LEFT;

}
#menu-list{
    position: relative;
    left: 400px;
}
#menu-list li a{
    position: relative;
    top: 10px;
    text-decoration:none;

}
.content{
    background:url(../images/backround.gif);
    height:1150px;
    width:100%;
}
.left-list{
    float: left;
    position: relative;
    left:5%;
    width:25%;
    padding-right:5px;
}
.left-list .myPot{
    overflow-y:hidden;
    background-color:#ffffff;
    height:200px;
    width:80%;
    text-align: center;
}
.left-list .myPot img{
    width:200px;
    height:200px;
    margin: 0 auto;
}
.left-list .aphorism{
    background-color:#EEB422;
    height:100px;
    width:80%;
    margin-bottom:10px;
}
.left-list .aphorism span{
    position: relative;
    top:20px;
    left:40px;
    font-size:20px;
}
.left-list .aphorism p{
    position: relative;
    top:40px;
    left:50px;
    font-size:15px;
}
.left-list .notice{
    background-color: #ffffff;
    height: 50px;
    width:80%;
    margin-bottom:10px;
}
.left-list .notice p{
    font-size:18px;
    position: relative;
    top:15px;
    left:20px;
}

.left-list .title{
    padding-top:20px;
    background-color:#EEB422;
    height:50px;
    width:80%;
}
.left-list .title p{
    position: relative;
    left:10%;
    font-size:20px;
}
.left-list .recent-list{
    background-color: #ffffff;
    height:170px;
    width:80%;
}
.left-list .recent-list ul{
    padding:20px;
}
.left-list .recent-list ul li{
    list-style-type:none;
    padding:5px;
}
.left-list .recent-list ul li a{
    text-decoration:none;
    color: #050505;
}
.center-list{
    float: left;
    width:40%;
}
.right-list{
    padding-left:30px;
    float: left;
    width:25%;
}
#blog-list{
    list-style-type:none;
}
#blog-list li{
    margin-bottom:15px;
}
.preview{
    background-color:#ffffff;
    height:250px;
}
.preview .title{
    text-align:center;
    font-size:30px;
    padding: 20px;
}
.describe{
    height:130px;
    padding-left:30px;
}
.classify{
    float: left;
    padding-left:30px;
    font-size:15px;
    color:#636363;

}
.preview .foot .date{
    float: right;
    padding-right:30px;
    font-size:15px;
    color:#999999;
}
.page-list{
    padding-top:20px;
}
.page-list li{
    list-style-type:none;
    float: left;
    position: relative;
    left: 70%;
    width: 40px;
    text-align: center;
    line-height: 26px;
    margin-right: 7px;
}

.page-list li div{
    width: 40px;
    height: 40px;
    background-color:#EEB422;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.page-list li div a{
    text-decoration:none;
}
.right-list .classify-list{
    height: 100%;
    margin-bottom: 10px;
}
.right-list .classify-list .name{
    height: 50px;
    background-color:#EEB422;;
}
.right-list .classify-list .name span{
    font-size: 18px;
    position: relative;
    top:15px;
    left:40px;
}
.right-list .list{
    background-color:#ffffff;
    height: auto;
}
.right-list .list ul{
    padding:20px;
}
.right-list .list ul li{
    list-style-type:none;
    padding:5px;
}
.right-list .list ul li a{
    text-decoration:none;
    color: #050505;
}






